html
    head
        title Denuncia
        meta(charset="UTF-8")
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet")
    body
        h1 Formulario de Denuncia
        form(action="/complaint" method="POST")
            div(class="form-group")
                label(for="complaintText") Denuncia
                input(type="text" name="complaintText" placeholder="Escriba su denuncia aquí" id="complaintText" class="form-control")
            div(class="form-group")
                label(for="email") Email(opcional)
                input(type="text" name="email" placeholder="Escriba su email aquí" id="email" class="form-control")
            input(type="submit" value="Enviar" class= "btn btn-primary")
